<footer class="mt-20 border-t border-gray-100 py-8">
  <div class="max-w-[1280px] mx-auto px-6 lg:px-8 text-center">
    <p class="text-gray-500 text-sm mb-4">
      <i class="fa-regular fa-copyright"></i>
      2025 Designed and coded with ❤️ by Hanif Sholihin
    </p>

    <div class="flex justify-center space-x-4 pt-4">
      <a
        href="https://github.com/hanif411"
        target="_blank"
        class="text-gray-500 hover:text-gray-900 transition-colors"
      >

        <i class="fa-brands fa-github fa-xl"></i>
      </a>

      <a
        href="https://www.linkedin.com/in/hanif-sholihin-319301246"
        target="_blank"
        class="text-gray-500 hover:text-gray-900 transition-colors"
      ><i class="fa-brands fa-linkedin fa-xl"></i>
      </a>
    </div>
  </div>
</footer>