<el-dialog>
  <dialog id="mobile-menu" class="backdrop:bg-transparent lg:hidden">
    <div tabindex="0" class="fixed inset-0 focus:outline-none">
      <el-dialog-panel
        class="fixed inset-y-0 right-0 z-50 w-75 overflow-y-auto bg-white p-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
      >
        <div class="flex items-center justify-end">
          <button
            type="button"
            command="close"
            commandfor="mobile-menu"
            class="-m-2.5 rounded-md p-2.5 text-gray-700"
          >
            <span class="sr-only">Close menu</span>
            <svg
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              data-slot="icon"
              aria-hidden="true"
              class="size-6"
            >
              <path
                d="M6 18 18 6M6 6l12 12"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
        </div>

        <div class="mt-6 flow-root">
          <div class="-my-6 divide-y divide-gray-500/10">
            <div class="space-y-2 py-6">
              <a
                href="#tech-stack"
                command="close"
                commandfor="mobile-menu"
                class="-mx-3 block px-3 py-2 text-gray-400 hover:text-gray-900"
              >Tech Stack</a>
              <a
                href="#experience"
                command="close"
                commandfor="mobile-menu"
                class="-mx-3 block px-3 py-2 text-gray-400 hover:text-gray-900"
              >Experience</a>
              <a
                href="#projects"
                command="close"
                commandfor="mobile-menu"
                class="-mx-3 block px-3 py-2 text-gray-400 hover:text-gray-900"
              >Projects</a>
            </div>
            <div class="py-6 space-y-3">
              <a
                href="/download-cv"
                command="close"
                commandfor="mobile-menu"
                class="h-11 w-full flex justify-center items-center rounded-lg bg-gray-900 text-white shadow-md"
              >
                Download CV
              </a>
            </div>
          </div>
        </div>
      </el-dialog-panel>
    </div>
  </dialog>
</el-dialog>